.cartWidget {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .cartWidget p {
    font-size: 1.6rem;
    font-weight: 700;
  }
  
  svg {
    font-size: 1.6rem;
  }
  
  svg:hover {
    cursor: pointer;
  }